p{
    margin:0;
    padding:0;
    padding-bottom:10px;
}
body{
    width:1000px;
    margin:auto;
	background-color:#0C9;
}
.body{
    margin:auto;
    padding:0;    
}
.left{
    padding-right:70px;    
    padding:0;
    margin:0;
}

.right{
    padding-left:70px;
    margin:0;    
}